 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1344px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1316px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 15px;
}

.u-section-1 .u-shape-1 {
  width: 31px;
  height: 14px;
  margin: 6px 6px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -2px auto 0 15px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 3px auto 0 15px;
}

.u-section-1 .u-text-3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 23px auto 0 10px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 24px auto 0 66px;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: -24px auto 0 6px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 15px auto 0 66px;
}

.u-section-1 .u-icon-2 {
  width: 26px;
  height: 26px;
  margin: -23px auto 0 9px;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 9px auto 0 10px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.75em;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: -34px auto 0 66px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 31px auto 0 15px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 157px;
  height: 157px;
  margin: 8px 6px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 157px;
  height: 157px;
  transform-origin: center center 0px;
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.u-section-1 .u-icon-4 {
  width: 31px;
  height: 31px;
  margin: -137px auto 0 15px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -29px auto 0 67px;
}

.u-section-1 .u-icon-5 {
  width: 31px;
  height: 31px;
  margin: 36px auto 0 15px;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: -27px auto 0 67px;
}

.u-section-1 .u-icon-6 {
  width: 31px;
  height: 31px;
  margin: 35px auto 0 15px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  margin: -27px auto 0 66px;
}

.u-section-1 .u-shape-3 {
  width: 31px;
  height: 14px;
  margin: 59px auto 0 9px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1316px;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 11px;
}

.u-section-1 .u-image-1 {
  height: 512px;
  margin: 21px 19px 0;
}

.u-section-1 .u-shape-4 {
  width: 106px;
  height: 224px;
  margin: 43px auto 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1085px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -129px;
  }

  .u-section-1 .u-shape-2 {
    margin: -129px 0 0 auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 105px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -98px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 119px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1085px;
  }

  .u-section-1 .u-image-1 {
    height: 419px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 831px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-1 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1247px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 486px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 785px;
  }

  .u-section-1 .u-image-1 {
    height: 299px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 515px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.8125rem;
  font-weight: normal;
  margin: 20px auto 0 40px;
}

.u-section-2 .u-shape-1 {
  width: 148px;
  height: 309px;
  margin: 3px auto 0 31px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-2 .u-image-1 {
  width: 114px;
  height: 111px;
  margin: 23px auto 0;
}

.u-section-2 .u-shape-2 {
  width: 130px;
  height: 15px;
  margin: 18px auto 0;
}

.u-section-2 .u-shape-3 {
  width: 62px;
  height: 15px;
  background-image: none;
  margin: -15px 45px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-2 .u-image-2 {
  width: 114px;
  height: 111px;
  margin: 23px auto 0;
}

.u-section-2 .u-shape-4 {
  width: 130px;
  height: 15px;
  margin: 18px auto 0;
}

.u-section-2 .u-shape-5 {
  width: 62px;
  height: 15px;
  background-image: none;
  margin: -15px 45px 0 auto;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-2 .u-image-3 {
  width: 114px;
  height: 111px;
  margin: 23px auto 0;
}

.u-section-2 .u-shape-6 {
  width: 130px;
  height: 15px;
  margin: 18px auto 0;
}

.u-section-2 .u-shape-7 {
  width: 62px;
  height: 15px;
  background-image: none;
  margin: -15px 45px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 20px;
}

.u-section-2 .u-image-4 {
  width: 114px;
  height: 111px;
  margin: 23px auto 0;
}

.u-section-2 .u-shape-8 {
  width: 130px;
  height: 15px;
  margin: 18px auto 0;
}

.u-section-2 .u-shape-9 {
  width: 62px;
  height: 15px;
  background-image: none;
  margin: -15px 45px 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-2 .u-image-5 {
  width: 114px;
  height: 111px;
  margin: 23px auto 0;
}

.u-section-2 .u-shape-10 {
  width: 130px;
  height: 15px;
  margin: 18px auto 0;
}

.u-section-2 .u-shape-11 {
  width: 62px;
  height: 15px;
  background-image: none;
  margin: -15px 45px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 20px;
}

.u-section-2 .u-image-6 {
  width: 114px;
  height: 111px;
  margin: 23px auto 0;
}

.u-section-2 .u-shape-12 {
  width: 130px;
  height: 15px;
  margin: 18px auto 0;
}

.u-section-2 .u-shape-13 {
  width: 62px;
  height: 15px;
  background-image: none;
  margin: -15px 45px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -368px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 60px;
    margin-left: 27px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -422px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 120px;
    margin-top: 114px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -368px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 181px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 922px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 102px 277px 0 -217px;
}

.u-section-3 .u-image-1 {
  min-height: 222px;
  background-image: url("images/364215333_756775576248918_802470613591932804_n.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 33px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 548px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 16px 20px;
}

.u-section-3 .u-icon-1 {
  width: 105px;
  height: 105px;
  margin: 55px auto 0 103px;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 16px 20px;
}

.u-section-3 .u-icon-2 {
  width: 105px;
  height: 105px;
  margin: 55px auto 0 103px;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 16px 20px;
}

.u-section-3 .u-icon-3 {
  width: 105px;
  height: 105px;
  margin: 55px auto 0 103px;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 16px 20px;
}

.u-section-3 .u-icon-4 {
  width: 105px;
  height: 105px;
  margin: 55px auto 0 103px;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-8 {
  padding: 16px 20px;
}

.u-section-3 .u-icon-5 {
  width: 105px;
  height: 105px;
  margin: 55px auto 0 103px;
  padding: 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-9 {
  padding: 16px 20px;
}

.u-section-3 .u-icon-6 {
  width: 105px;
  height: 105px;
  margin: 55px auto 0 103px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 183px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 183px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 39px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 452px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 796px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 114px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 0 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 0 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 0 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 225px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 871px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 745px;
  margin-top: 35px;
  margin-bottom: 46px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-gallery-1 {
    height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1058px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3410px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3174px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2225px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1998px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 637px;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 497px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 255px;
  height: 255px;
  margin: 26px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -191px auto 0 319px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-style: italic;
  margin: 16px auto 0 319px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  margin: 16px auto 0 319px;
  padding: 17px 54px 18px 53px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 255px;
  height: 255px;
  margin: 26px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -191px auto 0 319px;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-style: italic;
  margin: 16px auto 0 319px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  margin: 16px auto 0 319px;
  padding: 17px 54px 18px 53px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-5 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    min-height: 694px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 220px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: 220px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 153px;
    margin-bottom: -122px;
    margin-left: 220px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 220px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-left: 220px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 153px;
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    min-height: 819px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 217px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 217px;
  }

  .u-section-5 .u-btn-2 {
    margin: 214px 133px -148px 151px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 217px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 217px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 214px;
    margin-right: 133px;
    margin-left: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    min-height: 1057px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    width: 137px;
    height: 123px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin: 204px auto -110px 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    width: 137px;
    height: 123px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 204px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 444px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -51px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 324px;
  background-image: url("images/pngtree-vector-royal-background-image_302433.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 324px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 324px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-image-4 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-image-5 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-6 .u-image-1 {
    min-height: 267px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 267px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 268px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 205px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 369px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-6 .u-image-1 {
    min-height: 232px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 290px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 830px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 243px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 17px;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 19px 50px 20px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  margin: 48px auto 0 0;
}

.u-section-7 .u-shape-1 {
  width: 137px;
  height: 51px;
  margin: 42px auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 243px;
  background-image: url("images/Graphic-Designer-Header.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 343px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 26px 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 343px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-7 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-7 .u-form-1 {
  margin: 32px 30px 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 200px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 153px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 369px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 275px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 173px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 150px;
}

.u-section-8 .u-list-1 {
  width: 569px;
  margin: 33px auto 0 40px;
}

.u-section-8 .u-repeater-1 {
  min-height: 84px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px;
}

.u-section-8 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-icon-4 {
  width: 73px;
  height: 73px;
  margin: -79px 343px 38px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-icon-4 {
    margin-right: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    min-height: 267px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-8 .u-icon-4 {
    margin-right: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-icon-4 {
    margin-right: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-icon-4 {
    margin-right: 103px;
  }
}